<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">

        <link rel="stylesheet" href="/css/styles.css">

    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <p> This site was created by Saiteja.It uses data from mapbox.com and darksky.net!</p>
        <img class="portrait" src="C:\Users\Nuacem AI\Documents\nodejs\node\node-course\web-server\public\img">
        </div> 
        {{>footer}}
    </body>
</html>